<script>
$(document).ready(function() {
  var loadData = function(time_within) { 
    // Current time as called via Moment.js.
    var now = moment();
    // Filter the products; retain the original gon.products
    // variable and use it as a list to parse. Filter the list
    // based on whether the product's release date (as converted)
    // into a Moment object (otherwise it won't work, due to how
    // date objects in JS work... sort of).
    var products = _.filter(gon.products, function(product) {
      return (moment(product.release_date) > now.subtract('days', time_within));
    });

    $("#products").html("");
    _.each(products, function(product) {
      var productId = "\"product" + products.indexOf(product) + "\"";
      if (products.indexOf(product) % 2 == 0) {
        $("#products").append("<div class=\"product even_product\" id=\"product\">" + 
          "<a href=\"/products/" + product.id + "\">" + product.name + "</a>" +
          " | " + "Total Reviews: " + product.total_reviews + " | " + "Avg. Rating: " + 
          product.average + "</div>");
      } else {
        $("#products").append("<div class=\"product odd_product\" id=\"product\">" + 
          "<a href=\"/products/" + product.id + "\">" + product.name + "</a>" +
          " | " + "Total Reviews: " + product.total_reviews + " | " + "Avg. Rating: " + 
          product.average + "</div>");
      }
    });
  };
  loadData(7);

  $('.show_products_within').click(function(clicked) {
    loadData($(this).text());
  });
});
</script>

<div class="row">
	<div class="span10" id="update_blocks">
		<div class="block">
			<b>LATEST NEWS</b><br />
			<% @latest_articles.each do |article| %>
				<%= link_to article.title, article_path(article) %><br />
			<% end %>
		</div>
		<div class="block">
			<b>LATEST PRODUCTS</b><br />
			<div class="latest_products">
			<% @latest_products.each do |product| %>
				<%= link_to(product.name + " | " + product.total_reviews.to_s + " reviews", product) %><br />
			<% end %>
			</div>
		</div>
		<div class="block">
			<b>ACTIVE THREADS</b>
		</div>
	</div>
</div>
<div class="row">
	<div class="span10 offset1" id="newest_reviews">
		<div id="reviews_within">
				<h3>Top Reviewed Products:</h3>
				Products within last: <%= link_to '7', '#', :class => 'active show_products_within' %>
				<%= link_to '7', '#', :class => 'show_products_within' %>
				<%= link_to '30', '#', :class => 'show_products_within' %>
				<%= link_to '60', '#', :class => 'show_products_within' %> days
		</div>
		<%= content_tag "div", :id => "products", :data => {:products => @products} do %>
		<% end %>
	</div>
</div>