<div class="row">
    <div class="span6 offset1">
    <% @products.each do |product| %>
      <div class="product_information">
        <%= link_to product.name, product %> | ID: <%= product.id %><br/><%= score_badge(calculate_score(product)) %>
        <i>Release Date:</i> <%= product.release_date %> <%= product.total_reviews %>
        <br/>
      </div>
    <% end %> 
  </div>
</div>
<div class="row">
  <div class="span6 offset1">
    <% if authorized %>
      <%= link_to 'Add New Product', new_product_path %>
    <% end %>
  </div>
</div>