<div class="row">
  <div class="span6 offset1">
    <h2><%= @product.name %> Reviews</h2>
  </div>
</div>
<div class="row">
  <div class="span6 offset1">
    <div id="reviews">
      <% if @reviews.count > 0 %>
        <% @reviews.each do |review| %>
        <%= link_to review.title, product_review_path(@product, review) %> 
          | Written by: <%= link_to review.user.name, review.user %>
          | Votes: <%= review.votes %><br />
        <% end %>
      <% else %>
        <p>There are currently no reviews for this product.</p>
      <% end %>
    </div>
    <div>
      <% if user_signed_in? && reviewed?(@product.id) %>
        <%= link_to 'Edit your review', edit_product_review_path(:product_id => @product.id) %>
      <% elsif user_signed_in? && !reviewed?(@product.id) %>
        <%= link_to 'Review Product', new_product_review_path(@product) %>
      <% end %>
    </div>
  </div>
</div>