<div class="row">
  <div class="span6 offset1">
    <%= form_for([@product, @review]) do |r| %>
    <%= r.label :title %>
    <%= r.text_field :title %>
    <%= r.label :content %>
    <%= r.text_area :content %>
    <%= r.label :rating %>
    <%= r.select :rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %><br />
    <%= r.submit("Update Review") %>
    <% end %>
  </div>
</div>