<script>
$(document).ready(function() {
  $('.vote').click(function() {
    $('.vote').hide();
  });
});
</script>
<div class="row">
  <div class="span10" id="review_body">
    <div id="review_title">
      <h2><%= @review.title %>, by <%= @review.user.name %></h2><b>Votes:</b> <%= @review.votes %><br /><br />
    </div>
    <div id="review_content">
      <%= @review.content %>
    </div>
    <div id="review_vote">
    <% if voted_on_review?(@review) == false %>
      <h3><%= link_to '⬆', vote_up_product_review_path(:review_id => @review.id), 
                                                     :class => "vote",
                                                     :id => "vote_up", 
                                                     :method => :put, 
                                                     :remote => true %></h3>
      <h3><%= link_to '⬇', vote_down_product_review_path(:review_id => @review.id), 
                                                     :class => "vote",
                                                     :id => "vote_down", 
                                                     :method => :put, 
                                                     :remote => true %></h3>
    <% elsif voted_on_review?(@review) %>
      <% if current_user.reviews_voted_on[@review.id] == "up" %>
        <h3><%= link_to '⬇', vote_down_product_review_path(:review_id => @review.id), 
                                                     :class => "vote",
                                                     :id => "vote_down", 
                                                     :method => :put, 
                                                     :remote => true %>
      <% else %>
        <h3><%= link_to '⬆', vote_up_product_review_path(:review_id => @review.id), 
                                                     :class => "vote",
                                                     :id => "vote_up", 
                                                     :method => :put, 
                                                     :remote => true %></h3>
                                                     <% end %>
    <% else %>
      You have already voted.<br />
    <% end %>
    </div>
    <div id="review_score">
      <h3>Score: <%= @review.rating %></h3>
    </div>
  </div>
</div>