<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(@title) %></title>
  <%= include_gon %>
  <%= favicon_link_tag('favicon.ico') %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="header"><%= render 'layouts/header' %></div>
     <div class="navbar" id="companies">
      <ul class="nav" id="companies_nav">
        <li><a href="#">Apple</a></li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Microsoft</a></li>
        <li><a href="#">Samsung</a></li>
        <li><a href="#">Sony</a></li>
      </ul>
     </div>
		<div id="content"><%= yield %></div>
		<div id="footer"><%= render 'layouts/footer' %></div>
	</div>
</body>
</html>
